/////////////Colors/////////////
//use by typing map-get($the name of the map, $the key name);
// Like this map-get($darkBlue, "1");
$darkBlue: (
    "1": rgb(0, 0, 80),
    "2": rgb(0, 0, 100),
    "3": rgb(0, 0, 120),
    "4": rgb(0, 0, 140),
    "5": rgb(0, 0, 160),
    "6": rgb(0, 0, 180),
    "7": rgb(0, 0, 200),
    "8": rgb(0, 0, 220),
    "9": rgb(0, 0, 240),
    "10": rgb(0, 0, 255),
);

$lightBlue: (
    "1": rgb(0, 200, 255),
    "2": rgb(20, 200, 255),
    "3": rgb(40, 200, 255),
    "4": rgb(60, 200, 255),
    "5": rgb(80, 200, 255),
    "6": rgb(100, 200, 255),
    "7": rgb(120, 200, 255),
    "8": rgb(140, 200, 255),
    "9": rgb(160, 200, 255),
    "10": rgb(180, 200, 255),
);

$green: (
    "1": rgb(0, 80, 0),
    "2": rgb(0, 100, 0),
    "3": rgb(0, 120, 0),
    "4": rgb(0, 140, 0),
    "5": rgb(0, 160, 0),
    "6": rgb(0, 180, 0),
    "7": rgb(0, 200, 0),
    "8": rgb(0, 220, 0),
    "9": rgb(0, 240, 0),
    "10": rgb(0, 255, 0),
);

$teal: (
    "1": rgb(0, 255, 160),
    "2": rgb(20, 255, 160),
    "3": rgb(40, 255, 160),
    "4": rgb(60, 255, 160),
    "5": rgb(80, 255, 160),
    "6": rgb(100, 255, 160),
    "7": rgb(120, 255, 160),
    "8": rgb(140, 255, 160),
    "9": rgb(160, 255, 160),
    "10": rgb(180, 255, 160),
);

$darkRed: (
    "1": rgb(80, 0, 0),
    "2": rgb(100, 0, 0),
    "3": rgb(120, 0, 0),
    "4": rgb(140, 0, 0),
    "5": rgb(160, 0, 0),
    "6": rgb(180, 0, 0),
    "7": rgb(200, 0, 0),
    "8": rgb(220, 0, 0),
    "9": rgb(240, 0, 0),
    "10": rgb(255, 0, 0),
);

$lightRed: (
    "1": rgb(255, 20, 20),
    "2": rgb(255, 40, 40),
    "3": rgb(255, 60, 60),
    "4": rgb(255, 80, 80),
    "5": rgb(255, 100, 100),
    "6": rgb(255, 120, 120),
    "7": rgb(255, 140, 140),
    "8": rgb(255, 160, 160),
    "9": rgb(255, 180, 180),
    "10": rgb(255, 200, 200),
);

$purplePink: (
    "1": rgb(80, 0, 80),
    "2": rgb(100, 0, 110),
    "3": rgb(120, 0, 120),
    "4": rgb(140, 0, 140),
    "5": rgb(160, 0, 160),
    "6": rgb(180, 0, 180),
    "7": rgb(200, 0, 200),
    "8": rgb(220, 0, 220),
    "9": rgb(240, 0, 240),
    "10": rgb(255, 0, 255),
    "11": rgb(255, 20, 255),
    "12": rgb(255, 80, 255),
    "13": rgb(255, 140, 255),
    "14": rgb(255, 180, 255),
);

$orangeYellow: (
    "1": rgb(250, 130, 0),
    "2": rgb(250, 130, 20),
    "3": rgb(250, 130, 40),
    "4": rgb(250, 130, 60),
    "5": rgb(250, 130, 80),
    "6": rgb(255, 180, 0),
    "7": rgb(255, 200, 0),
    "8": rgb(255, 220, 0),
    "9": rgb(255, 240, 0),
    "10": rgb(255, 255, 0),
);

$noenGreen: rgb(166, 255, 0);
$noenBlue: rgb(0, 34, 255);



///////Layouts///////

@mixin flex($di: column, $jc: center, $ai: center) {
    display: flex;
    flex-direction: $di;
    justify-content: $jc;
    align-items: $ai;
}

@mixin border($radius: 2px, $size: 2px, $color: black, $style: solid) {
    border-width: $size;
    border-style: $style;
    border-color: $color;
    border-radius: $radius;
}




