

/*///////       Universal      ///////*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --accent-pri: rgb(223, 145, 0);
    --accent-sec: rgb(165, 109, 5);
    --card1: #535354;
    --card2: #38384d;
    --ui-hover: #1e1e24;
}
body::-webkit-scrollbar {
    width: 0.5rem;
}
body::-webkit-scrollbar-track {
    background-color: #1e1e24;
}
body::-webkit-scrollbar-thumb {
    background-color: var(--accent-pri);
}
body {
    color: black;
    background-color: white;
    padding: 0;
    margin: 0;
}

main {
    margin-left: 2rem;
    padding: 1rem;
}

.title {
    display: none;
    width: 8rem;
    font-size: 30px;
    margin-top: 15px;
    height: 4rem;
    color: var(--text-secondary);
    text-align: center;
}

.title:hover {
    cursor: default;
}
/*///////       !  END  !      ///////*/


/*///////       Navbar      ///////*/

.navbar {
    width: 2rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-primary);
    transition: 200ms ease;
    border-right: 3px solid var(--accent-pri);
    box-shadow: 8px 2px 23px 0px rgba(0,0,0,0.75);
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-item {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4rem;
    color: var(--text-primary);
    text-decoration: none;
}

.link-text {
    font-size: 20px;
    display: none;
    width: auto;
    color: var(--text-secondary);
    transition: 160ms ease;
    border-top: 1px solid var(--text-primary);
    width: 10rem;
    text-align: center;
    height: 4rem;
}

#last {
    border-bottom: 1px solid var(--text-primary);
}
.link-text:hover {
    background-color: var(--ui-hover);
    border-top: 1px solid var(--text-primary);
    height: 4.5rem;
}

.link-button {
    font-size: 20px;
    height: 40px;
    display: none;
    margin-left: 1rem;
    border: 1px solid var(--accent-pri);
    width: auto;
    border-radius: 30px;
    background-color: var(--bg-secondary);
    color: var(--text-secondary);
    transition: 125ms ease;
}

.link-button:hover {
    cursor: pointer;
    border: 4px solid var(--accent-pri);
}

.navbar:hover {
    width: 8rem;
}

.navbar:hover .link-button {
    display: block;
}
.navbar:hover .link-text {
    display: block;
}
.navbar:hover .title {
    display: block;
}
/*///////       !  END  !      ///////*/

/*///////       Containers      ///////*/

.container-left {
    display: flex;
    justify-content: left;
}

.container-right {
    display: flex;
    justify-content: right;
}

.container-center {
    display: flex;
    justify-content: center;
}

.container-col {
    display: flex;
    flex-direction: column;
}

.container-row {
    display: flex;
    flex-direction: row;
}

/*///////       !   END   !      ///////*/

/*///////       Links      ///////*/
.link1 {
    color: var(--accent-pri);
    text-decoration: none;
    margin-right: 20px;
    text-align: center;
}
.link1:hover {
    color: var(--accent-sec);
    text-decoration: underline;
}
.link2 {
    color: var(--accent-pri);
    text-decoration: none;
    text-align: center;
}
.link2:hover {
    color: var(--accent-sec);
    text-decoration: underline;
}
/*///////       !   END   !      ///////*/

/*///////       Cards      ///////*/
.card-title1 {
    text-align: center;
    margin-top: 0;
    border-bottom: 1px solid var(--card2);
}
.card-title2 {
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    border-bottom: 1px solid var(--card2);
}

.card1 {
    border: none;
    background: var(--card1);
    color: var(--text-secondary);
    padding: 20px;
    border-radius: 15px;
    margin-top: 4rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 18px;
    font-weight: 500px;
}

.card1-shadow {
    border: none;
    background: var(--card1);
    color: var(--text-secondary);
    padding: 20px;
    border-radius: 15px;
    margin-top: 4rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 18px;
    font-weight: 500px;
    box-shadow: 3px 2px 44px -11px rgba(0,0,0,1);
}

.card2-small {
    background: var(--card2);
    color: var(--text-secondary);
    padding: 10px;
    border-radius: 5px;
    margin-top: 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 12px;
    font-weight: 500px;
    width: 300px;
}
.card2-medium {
    background: var(--card2);
    color: var(--text-secondary);
    padding: 10px;
    border-radius: 5px;
    margin-top: 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 16px;
    font-weight: 500px;
    width: 400px;
}
.card2-big {
    background: var(--card2);
    color: var(--text-secondary);
    padding: 10px;
    border-radius: 5px;
    margin-top: 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 18px;
    font-weight: 500px;
    width: 500px;
}

.card2-small-shadow {
    background: var(--card2);
    color: var(--text-secondary);
    padding: 10px;
    border-radius: 5px;
    margin-top: 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 12px;
    font-weight: 500px;
    box-shadow: 3px 2px 44px -11px rgba(0,0,0,1);
    width: 300px;
}
.card2-medium-shadow {
    background: var(--card2);
    color: var(--text-secondary);
    padding: 10px;
    border-radius: 5px;
    margin-top: 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 16px;
    font-weight: 500px;
    box-shadow: 3px 2px 44px -11px rgba(0,0,0,1);
    width: 400px;
}
.card2-big-shadow {
    background: var(--card2);
    color: var(--text-secondary);
    padding: 10px;
    border-radius: 5px;
    margin-top: 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    font-size: 18px;
    font-weight: 500px;
    box-shadow: 3px 2px 44px -11px rgba(0,0,0,1);
    width: 500px;
}

/*///////       !   END   !      ///////*/

/*///////       Textboxes      ///////*/
.text-box1 {
    display: flex;
    width: auto;
    align-items: center;
    padding: 3rem;
    padding-top: 20px;
}
/*///////       !   END   !      ///////*/


