@import './imports';

* {
    margin: 0;
    padding: 9;
    background-color: $mainBG;
}

body {
    margin: 0;
    padding: 0;
    min-width: 800px;
    font-family: $openSans;
}

.flec-ccc {
    @include flex(column, center, center);
}
.banner {
    height: 40rem;
    img {
        height: 40rem;
        width: 100%;
        position: absolute;
    }
}
