@import './imports';

.textarea1 {
    @include flex(column, center, center);
    background-color: $textAreaC1;
    text-align: center;
    height: 25rem;
    position: relative;
    border-top: 1px solid white;
    .area-title {
        margin-top: 20px;
        font-size: 30px;
        margin-bottom: auto;
        background-color: $textAreaC1;
    }
    p {
        background-color: $textAreaC1;
        margin-bottom: auto;
        padding: 3rem;
        padding-bottom: 1rem;
        padding-top: 0;
        font-size: 20px;
    }
}