//imports
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

//vars
$mainBG: rgba(255, 255, 255, 0.861);
$secBG: rgb(51, 51, 51);
$mainTColor: Black;
$secTColor: white;
$openSans: 'Open Sans', sans-serif;
$titleColor: #902C3E;
$textAreaC1: #902C3E;
$textAreaC2: #2c3b90;   
$textAreaC2: #2c9065; 
$selectLink: #934d5a; 
$underLine: #934d5a; 


//mixins
@mixin flex($direction, $jc, $ac) {
    display: flex;
    flex-direction: $direction;
    justify-self: $jc;
    align-content: $ac;
}